:root {
  --primary-text-color: #757575;
  --title-text-color: #000;
  --accent-color: #2196F3;
  --primary-white-color: #fff;
  --second-color: #2F303A;
}

.footer {
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer:hover, .footer:focus {
  color: var(--accent-color);
}

.phone {
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:hover, .phone:focus {
  color: var(--accent-color);
}

.email {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.footer-address {
  margin-top: 0px;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-section {
  background: var(--second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.join-us {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}

.join {
  font-family: Roboto;
  color: var(--primary-white-color);
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-icon-list {
  display: flex;
  justify-content: space-between;
}

.join-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-soc-link:hover {
  background-color: var(--accent-color);
}
.join-soc-link:focus {
  background-color: var(--accent-color);
}

.join-soc-web {
  fill: var(--primary-white-color);
}

.subscribe-container {
  margin-left: auto;
}

.subscribe {
  display: flex;
  align-items: center;
}

.mailing-list {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.mailing-field {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing-field:focus {
  border-color: var(--accent-color);
  outline: none;
}

.button-sign {
  align-items: center;
  display: flex;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 29px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-sign:hover {
  background-color: #1e8be4;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telegram {
  margin-left: 10px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container .footer-section > .container {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .container .footer-section > .container {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .container .footer-section > .container {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .header .container {
    width: 100%;
    margin: 0 0;
    justify-content: space-between;
  }
}

.list {
  padding: 0;
  list-style: none;
}

.envelop-icon {
  margin-right: 10px;
  fill: currentColor;
}
.envelop-icon:hover {
  fill: var(--accent-color);
}

.smartphone-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}
.smartphone-icon:hover {
  fill: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation .menu {
  margin-right: 50px;
}

.navigation .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation .menu:last-child {
  margin-right: 0px;
}

.contact-links .feedback {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-header {
  margin-left: 93px;
}

.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.feedback {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback:hover, .feedback:focus {
  color: var(--accent-color);
}

.contact-links .link:hover {
  color: var(--accent-color);
}

.contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact-links .menu + .menu {
  margin-left: 50px;
}

.contact-links .hover:last-child {
  margin-right: 0px;
}

.link.current.down-line::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transform: scaleX(1);
}

.link.down-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transition: transform 250ms;
  transform: scaleX(0);
}
.link.down-line::after:hover::after, .link.down-line::after:focus::after {
  transform: scaleX(1);
}

.header {
  border-bottom: solid 1px #ECECEC;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opasity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 250ms;
}

.btn-checkbox {
  display: block;
  align-self: center;
  color: var(--primary-white-color);
  background-color: #2196F3;
  font-family: inherit;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
}
.btn-checkbox:hover {
  background-color: #1e8be4;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__title {
  margin-bottom: 12px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form {
  margin-bottom: 10px;
  position: relative;
}

.modal-form__checkbox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: var(--accent-color);
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.checktext {
  display: flex;
  font-family: inherit;
  align-items: center;
  margin-top: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.checktext::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
}

.terms-link {
  margin-left: 5px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-check:checked + .checktext::before {
  background-color: #2196F3;
  background-image: url(../images/check.svg);
  border-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check:checked + .checktext::before:focus + .modal-check:checked + .checktext::before::before {
  border-color: var(--accent-color);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.header .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}
.footer .logo {
  color: var(--main-lite-color);
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--title-text-color);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background: var(--second-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 1600px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-title {
  width: 696px;
  height: 120px;
  top: 280px;
  left: 452px;
}

.tegline {
  width: 270px;
  margin-right: 30px;
}

.about-img-box {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.tegline:last-child {
  margin-right: 0px;
}

.photo {
  width: 270px;
  height: 368px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.service-image {
  display: block;
}

.service {
  padding-bottom: 94px;
}

.service__description {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.service__ofer {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.service__tasks {
  position: relative;
  width: 370px;
  margin-right: 30px;
}

.service__item {
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
}

.service__tasks:nth-child(3n) {
  margin-right: 0px;
}

.team {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.photo {
  margin-right: 30px;
  border: 0;
  border-radius: 4px;
}
.photo:nth-child(4) {
  margin-right: 0px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.shield {
  background: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-people {
  padding-top: 94px;
  padding-bottom: 94px;
  height: 708px;
  background: #F5F4FA;
}

.section-team {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.profession {
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.social-network {
  display: flex;
  margin-top: 0px;
  padding: 0;
  justify-content: center;
}

.social-net-link {
  margin-top: 0px;
  margin-bottom: 0px;
}

.social-network-item:not(:last-child) {
  margin-right: 10px;
}

/* .social-network-item:hover {
    background-color:var(--accent-color);
} */
.social-net-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-net-link:hover, .social-net-link:focus {
  background-color: var(--accent-color);
}

.social-net-link:hover .social-net-icon,
.social-net-link:focus .social-net-icon {
  fill: #fff;
}

.social-net-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.preposition {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.work-text {
  width: 270px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}

.our-clients {
  padding: 60 0px;
}
@media screen and (min-wdth: 1200px) {
  .our-clients {
    padding: 94px 0px;
  }
}

.clients {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-icons {
  fill: currentColor;
}
.client-icons:hover {
  fill: var(--accent-color);
}

.border-label {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  justify-content: center;
}

.border-icons {
  height: 92px;
  width: 170px;
  margin-left: 30px;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.border:hover, .border:focus {
  border-color: var(--accent-color);
}

.border:hover .client-icons,
.border:focus .client-icons {
  fill: var(--accent-color);
}

.logo-bottom {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.prefer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-item {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.features {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.features:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.box {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  vertical-align: middle;
}
.box:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.box:nth-child(3n) {
  margin-right: 0px;
}

.box-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-link:hover, .box-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.imagebox {
  display: block;
}

/* =================CHAPTOR SECTION============ */
.chapter {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms;
}

.box-link:hover .chapter,
.box-link:focus .chapter {
  transform: translateY(0%);
}

.chapter-box {
  position: relative;
  overflow: hidden;
}

.item {
  margin: 0px 0px 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.desc {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.btn-background {
  background: #F5F4FA;
  padding: 6px 22px;
  margin-top: 0px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-background:hover, .btn-background:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-current {
  padding: 6px 22px;
  margin-top: 0px;
  background: #F5F4FA;
  /* color: var(--primary-white-color); */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-current:hover, .btn-current:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-select {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  margin-bottom: 34px;
}

.select {
  margin-right: 8px;
}

.btn-select .select:last-child {
  margin-right: 0px;
}

.second-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .menu {
  display: block;
  margin-right: 50px;
}

.site-nav .menu:last-child {
  margin-right: 0px;
}/*# sourceMappingURL=main.css.map */