html {
    box-sizing: border-box;
}
p {
    margin: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

body {
    margin: 0;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
}
