.phone {
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.email {
    margin-bottom: 9px;
}


.address {
    font-style: normal;
    margin-top: 20px;

}

.footer-address {
    margin-top: 0px;
    margin-bottom: 9px;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-section {
    background: var(--second-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}